<div class="background pb-1" data-room="<%= @room.uid %>" data-user="<%= current_user.uid %>" data-meeting="<%= @room.bbb_id %>">
  <div class="container">

    <div class="row pt-7 pt-sm-9">
      <div class="col-lg-8 col-sm-12">
        <div id="room-title" class="display-3 form-inline" data-path="<%= update_settings_path(@room) %>">
            <h1 contenteditable=false id="user-text" class="display-3 text-left mb-3 font-weight-400">
              <%= @room.name %> - <%= t("room.signs") %>
              (<%= ActiveRecord::Base.connection.execute("
                SELECT count(DISTINCT s.user_id) FROM signatures s
                JOIN shared_accesses sa ON sa.user_id = s.user_id AND sa.room_id = s.room_id
                WHERE s.room_id = "+@room.id.to_s+" AND (sa.tic_status = 'v' OR sa.user_id IN (
                  SELECT tic_proc_user FROM shared_accesses sa2 WHERE sa2.room_id = sa.room_id
                ))").values.first.first %>)
            </h1>
        </div>
      </div>
      <!--<div class="offset-lg-1 col-lg-3 col-sm-12 force-bottom mt-5">
        <%= link_to room_path(@room), class: "btn btn-primary btn-block px-7 start-button float-right"  do %>
          <%= t("room.back") %>
        <% end %>
      </div>-->
    </div>

    <div id="room_signs_container" class="row pt-7 pb-5">
      <%= render "shared/signs", signs: @signs %>
    </div>

  </div>
</div>
